html {
    margin: 10;
    padding: 0;
    background-color: rgb(48, 74, 187);

    font-family: 'Roboto Mono', monospace;
}

#connection_data {
    margin: auto;
    text-align: center;
    line-height: 20%;
}

h1 {
    margin: auto;
    text-align: center;
    font: 5em "Roboto Mono";
    font-weight: bold;
}

hr {
    margin-bottom: 20px;
    border: 5px solid aliceblue;;
}

hr, h1, #connection_data {
    color: aliceblue;
}

canvas {
    margin: auto;
    display: block;
    border: 5px solid;
    border-color: blanchedalmond;
}
