:root {
    --main-bg-col: rgb(48, 74, 187);
    --main-fg-col: aliceblue;
}

html {
    margin: 10;
    padding: 0;
    background-color: var(--main-bg-col);

    font-family: 'Roboto Mono', monospace;
}

#connection_data {
    margin: auto;
    text-align: center;
    line-height: 20%;
}

h1 {
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
    font: 5em "Roboto Mono";
    font-weight: bold;
    color: var(--main-bg-col);
    background-color: var(--main-fg-col);
}

hr {
    margin-bottom: 20px;
    border: 5px solid var(--main-fg-col);
}

hr,
#connection_data {
    color: var(--main-fg-col);
}

canvas {
    margin: auto;
    display: block;
    border: 5px solid;
    border-color: var(--main-fg-col);
}

form {
    /* Center the form on the page */
    margin: 0 auto;
    width: fit-content;
    /* Form outline */
    padding: 1em;
    border: 4px solid var(--main-fg-col);
    border-radius: 1em;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    align-content: center;
}

form li+li {
    margin-top: 1em;
}

label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 140px;
    text-align: right;
    font-size: larger;
    color: var(--main-fg-col);
}

input {
    /* Uniform text field size */
    width: 300px;
    background-color: var(--main-fg-col);
    box-sizing: border-box;
    font: large "Roboto Mono";
    color: var(--main-bg-col);
    /* Match form field borders */
    border: 1px solid var(--main-fg-col);
    border-radius: 3px;
}

input:focus {
    background-color: var(--main-bg-col);
    color: var(--main-fg-col);
}

button,
button:active {
    margin: 0 auto;
    display: block;
    background-color: var(--main-bg-col);
    border: 3px solid var(--main-fg-col);
    border-radius: 6px;
    font: larger "Roboto Mono";
    color: var(--main-fg-col);
}

button:hover {
    background-color: var(--main-fg-col);
    color: var(--main-bg-col);
}